<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Post Article - Mr. EsKa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/javascripts/shCore.js"></script>
        <script type="text/javascript" src="/javascripts/shBrushJScript.js"></script>
        <script type="text/javascript" src="/javascripts/shBrushPython.js"></script>
        <link href="/stylesheets/shCore.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/shThemeDefault.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Acme|Oswald|Permanent+Marker" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/input.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/button.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/postArticle.css" />
    </head>
    <body>
        <section id="config">
            <div class="text-input">
                <label for="Type">Type</label>
                <div class="radio-input">
                    <div class="element">
                        <input id="tutoriel" type="radio" name="Type" value="Tutoriel" form="send">
                        <label for="tutoriel">Tutoriel</label>
                    </div>
                    <div class="element">
                        <input id="devjv" type="radio" name="Type" value="Developpement JV" form="send">
                        <label for="devjv">Développement JV</label>
                    </div>
                    <div class="element">
                        <input id="anajv" type="radio" name="Type" value="Analyse JV" form="send">
                        <label for="anajv">Analyse JV</label>
                    </div>
                    <div class="element">
                        <input id="mycre" type="radio" name="Type" value="Mes Creations" form="send">
                        <label for="mycre">Mes Créations</label>
                    </div>
                </div>
            </div>
     
            <div class="text-input">
                <label for="title">Titre</label>
                <input id="titre" type="text" name="Title" form="send" value="<%= title %>" required>
            </div>
            <div class="text-input">
                <label for="UrlArticle">Url de l'article</label>
                <input id="url" type="text" name="UrlArticle" value="<%= url %>" form="send" required>
            </div>
            <div class="text-input">
                <label for="ImagePrincipale">Lien Image</label>
                <input id="image" type="text" name="ImagePrincipale" value="<%= image %>" form="send" required>
            </div>
            <div class="text-input">
                <label for="DescriptionPrincipale">Description</label>
                <textarea id="description" type="text" name="DescriptionPrincipale" form="send" required><%= description %></textarea>
            </div>
            <input class="button-input bg-bi-green" type="button" value="Continuer" onclick="toggleEdit()">
        </section>

        <section id="editor">
            <!-- Boutons -->
            <div id="top-editor">
                <div>
                    <input class="small-top-btn" type="button" name="bold" value="P" onclick="modifSelect('<p>', '</p>')">
                    <input class="small-top-btn" type="button" name="bold" value="B" onclick="modifSelect('<b>', '</b>')">
                    <input class="small-top-btn" type="button" name="bold" value="I" onclick="modifSelect('<i>', '</i>')">
                    <input class="small-top-btn" type="button" name="bold" value="U" onclick="modifSelect('<u>', '</u>')">
                    <input class="small-top-btn" type="button" name="bold" value="Code" onclick="modifSelect('<pre class=\'brush: js\'>', '</pre>')">
                </div>
                <div>
                    <input class="small-top-btn" type="button" name="bold" value="Config" onclick="toggleEdit()">
                </div>
            </div>

            <!-- Zone de rédaction -->
            <textarea id="contenu" name="Contenu" cols="100" rows="40" form="send"><%= content %></textarea>
            
    
            <!-- Envoie -->
            <form action="<%= action %>" method="POST" id="send">
                <input class="button-input bg-bi-green" type="submit" value="Envoyer">
            </form>
        </section>
        <!-- Visualisation -->
        <section id="visualizer">
            <div class="top">
                <img id="main-image" class="main-image" src="" alt="Image Principale">
                <h1 id="article-title"></h1>
            </div>
            <div id="article-content">
                
            </div>
        </section>

        <script src="/javascripts/editor.js"></script>
    </body>
</html>
<script>
    let type = "<%= type %>";
    if (type == "") document.getElementById("tutoriel").checked = "checked";
    else {
        if (type == "Tutoriel") document.getElementById("tutoriel").checked = "checked";
        if (type == "Developpement JV") document.getElementById("devjv").checked = "checked";
        if (type == "Analyse JV") document.getElementById("anajv").checked = "checked";
        if (type == "Mes Creations") document.getElementById("mycre").checked = "checked";
    }
</script>