<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %> - Mr. EsKa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/skins/tomorrow-night-blue.min.css">
        <link href="https://fonts.googleapis.com/css?family=Acme|Oswald|Permanent+Marker" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/decor.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/header.css" /> 
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/article.css" /> 
    </head>
    <body onload="PR.prettyPrint()">
        <section id="main">
            <%- include ../partials/header -%>
            <div id="article">
                <div class="top">
                    <img id="main-image" src="<%= image %>" alt="Image Principale">
                    <h1><%= title %></h1>
                </div>
                <div class="contenu"><%- content -%></div>
            </div>
        </section>
    </body>
</html>